.navbar{
    background: #14a37f;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;

}

.logo{
    background-image: url('../../../images/logo.png');
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: left;
    justify-content: left;
}
.title{
    color: white;
    font-size: 10 rem;
    padding-right: 45%;

}
.home{
    color: white;
    font-size: 10 rem;
    padding-right: 2%;
}


.dropdown{
    color: white;
    font-size: 5 rem;
    padding-right: 2%;
}

.btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary);
  }
  
  .btn:hover {
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    border-color: black;
    color: #fff;
    border-radius: 4px;
    border: 2px solid var(--primary);
    transition: all 0.3s ease-out;
  }
  
