<div class="content-body">
    <div class="form-wrapper">
      <form class="bg-white">
        <h1 class="text-title">Login to your Account</h1>
        <div class="field-group">
          <label class="label" for="txt-email">User Name</label>
          <input class="input" type="email" id="txt-email" name="email" placeholder="Username" />
        </div>
        <div class="field-group">
          <label class="label" for="txt-password">Password</label>
          <input class="input" type="password" id="txt-password" name="password" placeholder="Password" />
        </div>

        <div class="field-group">
          <input class="btn-submit" type="submit" value="Log In" />
        </div>
      </form>

     
    </div>
  </div>